@import "/ceterai.css";

:root {
	/* Colors */
	--ct_0: #ffffff;
	--ct_1: #fdf584;
	--ct_2: #fffea2;
	--ct_3: #9fe450;
	--ct_4: #efa119;
	--ct_5: #263137;
	--ct_6: #8ac249;
	--ct_7: #001428;
	--ct_8: #000000;
}

.ct_bg {
	--ct_bg: url('https://Ceterai.github.io/EchoCraft/art/bg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
    background-color: var(--ct_8);
}

.ct_button {
    color: var(--ct_3);
}

.markdown-body {
    line-height: 200%;
    font-size: 100%;
    color: var(--ct_6);
}

#ct_ws h1 {
	color: var(--ct_3);
}
