<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/art/ceterai.gif">
    <link href="{{ '/ceterai.css?v=' | append: site.github.build_revision | relative_url }}" rel="stylesheet">
    <meta property="og:logo" content="https://Ceterai.github.io/art/ceterai.gif">
    <meta property="og:image" content="https://Ceterai.github.io/art/ceterai.png">
    {% seo %}
  </head>
  <body class="ct_body">
    <div class="container markdown-body">
      <blockquote>
        {% include breadcrumbs.html %}
      </blockquote>
      {{ content }}
      <div style="min-height: 48px;"></div>
    </div>
  </body>
</html>
