<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/art/ceterai.gif">
    <link href="{{ '/ceterai.css?v=' | append: site.github.build_revision | relative_url }}" rel="stylesheet">
    <meta property="og:logo" content="https://Ceterai.github.io/art/ceterai.gif">
    <meta property="og:image" content="https://Ceterai.github.io/art/ceterai.png">
    {% seo %}
  </head>
  <script>
    function includeHTML() {
      var z, i, elmnt, file, xhttp;
      /*loop through a collection of all HTML elements:*/
      z = document.getElementsByTagName("*");
      for (i = 0; i < z.length; i++) {
        elmnt = z[i];
        /*search for elements with a certain atrribute:*/
        file = elmnt.getAttribute("w3-include-html");
        if (file) {
          /*make an HTTP request using the attribute value as the file name:*/
          xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4) {
              if (this.status == 200) {elmnt.innerHTML = this.responseText;}
              if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
              /*remove the attribute, and call this function once more:*/
              elmnt.removeAttribute("w3-include-html");
              includeHTML();
            }
          }      
          xhttp.open("GET", file, true);
          xhttp.send();
          /*exit the function:*/
          return;
        }
      }
    };
  </script>
  <body class="ct_body">
    <div class="container markdown-body">
      <h1>{{ site.title }}</h1>
      <blockquote>
        {% include breadcrumbs.html %}
      </blockquote>
      {{ content }}
      <div style="min-height: 48px;"></div>
    </div>
  </body>
</html>
