<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Ceterai's Lair</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" rel="stylesheet">
        {% seo %}
    </head>
    <body id="ct_lair">
        <div class="container markdown-body" style="font-size: 100%;">
            {{ content }}
        </div>
    </body>
</html>
