<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Ceterai's Lair</title>
        <meta charset="UTF-8">
        <link rel="icon" href="/images/ceterai.gif">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ '/ceterai.css?v=' | append: site.github.build_revision | relative_url }}" rel="stylesheet">
        <meta property="og:logo" content="https://Ceterai.github.io/images/ceterai.gif">
        <meta property="og:image" content="https://Ceterai.github.io/images/ceterai.png">
        {% seo %}
    </head>
    <body id="ct_lair" class=".ct_body">
        <div class="container markdown-body" style="font-size: 100%;">
            {{ content }}
        </div>
    </body>
</html>
