<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ site.title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="canonical" href="https://ceterai.github.io/"/>
        <link rel="icon" href="{{ '/art/ceterai.gif?v=' | append: site.github.build_revision | relative_url }}">
        <link rel="stylesheet" href="{{ '/ceterai.css?v=' | append: site.github.build_revision | relative_url }}">
        <meta property="og:logo" content="{{ 'https://Ceterai.github.io/art/ceterai.gif?v=' | append: site.github.build_revision | relative_url }}">
        <meta property="og:image" content="{{ 'https://Ceterai.github.io/art/ceterai.png?v=' | append: site.github.build_revision | relative_url }}">
        <meta name = "pinterest" content = "nopin" description = "Sorry, you can't save from my website!" />
        {% seo title=false %}
    </head>
    <body id="ct_lair">
        <div class="container markdown-body ct_body" style="font-size: 100%;">
            {{ content }}
            {% include footer.html %}
        </div>
    </body>
</html>
